/src/DynamicDockerCompose/.vs/
/src/DynamicDockerCompose/DynamicDockerCompose/bin/
/src/DynamicDockerCompose/DynamicDockerCompose/obj/
/src/DynamicDockerCompose/.build/CakeRelease/Cake/tools/
/src/DynamicDockerCompose/.build/CakeRelease/Semantic/Artifacts/
/src/DynamicDockerCompose/.config/CakeRelease.settings.json
/src/DynamicDockerCompose/.build/CakeRelease/Semantic/node_modules/
/src/DynamicDockerCompose/node_modules/
/src/DynamicDockerCompose/.build/CakeRelease/Semantic/Config/.releaserc.js
