<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <metadata>
    <id></id>
    <title></title>
    <description></description>
    <authors></authors>
    <version></version>
    <readme>README.md</readme>
  </metadata>
  <files>
    <!-- <file src="nuspec" target=".nuspec" /> -->
  </files>
</package>